ver = version()
println("Remove Parental Lock, by Kronos2308 -.-")
println("Running on TE ", ver)
println()

if (_EMU) {
	menuOptions = ["Exit", "Sysmmc", "Emummc"]
} 
else() {
	menuOptions = ["Exit", "Sysmmc"]
}

print("Unlock the: ")
res = menu(menuOptions, 0)

clearscreen()

if (res == 0){
	exit()
}

if (res == 1){
	println("Mounting Sysmmc")
	mount = mmcConnect("SYSMMC")
}

if (res == 2){
	println("Mounting Emummc")
	mount = mmcConnect("EMUMMC")
}

if (mount){
	println("Error connecting mmc!")
	pause()
	exit()
}

if (mmcMount("SYSTEM")) {
	println("Failed to mount SYSTEM")
	pause()
	exit()
}


color("RED")
println("Deleting Parental Lock")

res = fileDel("bis:/save/8000000000000100")
if (res) {
	println("\nFile deletion failed!")
	pause()
	exit()
}

color("GREEN")
println("")
println("\n\nDone! press any key to exit")

pause()
exit()